 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Bem-vindo(a)! Esta página está em constante evolução. Se precisar, clique no link de Contato para me mandar um e-mail.</p>
                </div>
                <div class="col-lg-4">
                    <p>Atualização do restante do conteúdo em breve! </p>
                </div>
            </div>
        </div>
    </section>
